p {
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 130%;
color: #2F2926;
}

.coffeecart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coffeecart__div {
    width: 8.5rem;
}

.coffeecart__coffee {
    display: flex;
}

.coffeecart__hr {
    align-self: flex-end;
    margin-bottom: 2px;
}