.dropdown {
    padding: 3rem; 
    background-color: #FFFFFF;
    z-index: 665;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: absolute;
    right: 10px;
    
    top: 3.9rem;
    gap: 1rem;
}

.dropdown h1 {
    font-family: 'PT Serif';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 120%;
display: flex;
align-items: center;
text-align: center;
color: #2F2926;
}

.dropdown h2 {
    font-family: 'PT Serif';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 120%;
display: flex;
align-items: center;
color: #2F2926;
}

.dropdown button {
    width: 248px;
height: 55px;
background: #2F2926;
border-radius: 50px;
font-family: 'PT Serif';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
text-align: center;
color: #FFFFFF;
border: none;
}

.dropdown hr {
    border-top: 1px dashed rgba(0, 0, 0, 0.4);
}

.dropdown__triangle {
    position: absolute;
    bottom: 97%;
    right: 15px;
    border-radius: 2px;
    z-index: -1;
}


