.coffee__menu {
background: #F3E4E1;
display: flex;
flex-direction: column;
justify-items: center;
position: relative;
height: 100vh;
}

.coffee__menu header{
    position: relative;
    width: 100%;
}

.coffee__menu .graphicHeader{
    width: 100%;
}

.coffee__menu main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.coffee__menu footer{
    width: 100%;
}

.coffee__menu .graphicFooter{
    width: 100%;
}


.coffee__menu--svg{
    position: absolute;
    left: 10px;
    top: 10px;
}

.cart {
height: 60px;
width: 60px;
border-radius: 50%;
background: #2F2926;
box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
display: grid;
grid-template-columns: repeat(1, 1fr);
align-content: center;
justify-items: center;
border: none;
position: absolute;
right: 10px;
top: 10px;
}

.cart__number {
background: #E5674E;
display: flex;
align-items: center;
justify-content: center;
width: 22px;
height: 22px;
border-radius: 50%;
color: #FFFFFF;
z-index: 1;
position: absolute;
right: 4px;

}

.airbean__title {
    top: 10rem;
    font-family: 'PT Serif';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 120%;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
color: #2F2926;
}